table, th, td {
    margin: 30px;
}
th,td {
    padding-left: 60px;
    font-family: 'Times New Roman', Serif;
}
.btn1 {
    border:2px ;
    border-color: #009ACD;
    background-color: #4f81bd;
}
.searchDiv {
    display: flex;
    height: 35px; 
    margin-top:5%;
    margin-bottom:5%;
    width:100%;
}
select {
    float: right;
}

.label {
    margin-left: 0px;
}

.fillInfo {
    margin-right: 0px;
    margin-left: auto;

}
.btn1 {
    background:#009ACD !important;
    border: 2px solid #385d8a !important;
    border-color: #385d8a !important;
    font-family: 'Times New Roman', Serif;
}
.btn2 {
    background: #528B8B !important;
    color: white !important;
    border-radius: 0px !important;
    border-color: #385d8a;
    font-family: 'Times New Roman', Serif;
}
