#background {
    border-color: #0066CC;
    border-width: 3px;
    border-style: solid;
    position: center;
    display:flex;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
}

.information {
    display: flex;
    height: 35px; 
    margin-top:5%;
    margin-bottom:5%;
    width:100%;
}
#label::after {
    content: "*";
    color: red;
}

.info {
    padding: 5px;
    text-align: center;
    margin-left:10%;
    font-family: 'Times New Roman', Serif;
}

#button {
    height: 35px;
    margin-bottom:5%;
}
#label {
    width: 120px;
    border: 2px solid #0066CC;
    color: white;
    background: #70AD47;
    padding :5px;text-align:center;
    font-family: 'Times New Roman', Serif;
}

.fillLabel {
    width: 120px;
    border: 2px solid #0066CC;
    color: white;
    background: #70AD47;
    padding :5px;text-align:center;
    margin-bottom: 0px;
    block-size: fit-content;
    font-family: 'Times New Roman', Serif;
}

#error {
    color: red; 
}
#submitId {
    border-color: #0066CC;
    border-width: 2px;
    border-style: solid;
    background-color: #70AD47;
}
.imgInfo {
    margin-left: 50px;

}
.imgShow {
    margin-left:10%;
}
#confirm {
    text-align: center;
    margin-top: 60px;
    height: 35px;
    margin-bottom:5%;
    font-family: 'Times New Roman', Serif;
}

#input {
    border: 2px solid #0066CC;
    margin-left:10%;
    width:55%;
}
#img {
    border: 2px solid #fdfdfd;
    margin-left:10%;
    width:55%;
}
#inputdate{
    border: 2px solid #0066CC;
    margin-left:10%;
    width:55%;
}
#radioBtn {
    margin-left:15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button {
    text-align: center;  
    font-family: 'Times New Roman', Serif;
}
#error {
    color: red; 
}
#submitId {
    border-color: #0066CC;
    border-width: 2px;
    border-style: solid;
    background-color: #70AD47;
}
.imgInfo {
    margin-left: 50px;

}
.imgShow {
    margin-left:10%;
}
#confirm {
    text-align: center;
    margin-top: 60px;
    height: 35px;
    margin-bottom:5%;
    font-family: 'Times New Roman', Serif;
}

#label2 {
    width: 120px;
    border: 2px solid #0066CC;
    color: white;
    background: #70AD47;
    padding :5px;text-align:center;
}

